body {
  margin: 0;
}
header {
  background-color: green;
  padding: 20px;
  text-align: center;
}
header img {
  transition-duration: 1s;
  transition-timing: ease;
  transition-property: all;
  transition-delay: 1s;
  width: 150px;
}
header img:hover {
  transform: rotate(360deg);
}
h1 {
  font-size: 50px;
}
h2 {
  font-style: italic;
}
h1, h2 {
  color: white;
}
section {
  padding: 30px;
}
p {
  font-family: Arial;
  font-size: 20px;
}
figure {
  text-align: center;
  margin-bottom: 60px;
}
footer {
  background-color: #EEE;
  font-size: 30px;
  padding: 40px;
  text-align: center;
}
button {
  background-color: #BDF555;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  width: 200px;
}
.amarillo {
  background-color: yellow;
}
#provincias {
  list-style-type: circle;
}
#provincias li {
  font-size: 20px;
  margin-bottom: 5px;
}
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.pulsar {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}