div {
  background-color: red;
  width: 200px;
  height: 200px;
  margin: 30px;
}

@media screen and (min-width: 480px) {
  div {
    background-color: black;
  }
}

@media screen and (min-width: 768px) {
  div {
    background-color: yellow;
  }
}